@page
@model Task3.Pages.RestaruantsModel
@{
}
<body class="wrapper">
    <header>
        <nav>
            <ul class="hr">
                <li>Student</li>
                <li>IT Step Academy</li>
                <li>Bartash Yuriy</li>
            </ul>
        </nav>
    </header>
    <div>
        <ul class="rest">
            <li>
                <article>
                    <figure>
                        <p><img src="~/Pages/Paris.jpg" /></p>
                        <figcaption>
                            French Restaurant
                            La Véranda Kiev
                        </figcaption>
                    </figure>                 
                    <div class="descript">
                        <p>
                            La Véranda Kiev - stylish breakfast,
                            excellent dinner with fresh venison in the heart of Kiev.
                        </p>
                        Details<br />
                        PRICE RANGE<br />
                        UAH 548 - UAH 822<br />
                        CUISINES<br />
                        Italian, French, Mediterranean, Central European, European<br />
                        SPECIAL DIETS<br />
                        Vegetarian Friendly, Vegan Options, Gluten Free Options<br />
                        View all details<br />
                        Meals, Features<br />
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <figure>
                        <p><img src="~/Pages/Rome.jpg" /></p>
                        <figcaption>
                            Italian Restaurant
                            Pesto Cafe Kiev
                        </figcaption>
                    </figure>

                    <div class="descript">
                        Details<br />
                        PRICE RANGE<br />
                        UAH 28 - UAH 900<br />
                        CUISINES<br />
                        Italian<br />
                        SPECIAL DIETS<br />
                        Vegetarian Friendly<br />
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <figure>
                        <p><img src="~/Pages/Japan.jpg" width="121"/></p>
                        <figcaption>
                            Japanese Restaurant
                            Chang Asian Kiev
                        </figcaption>
                    </figure>

                    <div class="descript">
                        Food and ambience<br />
                        Vietnamese, Japanese, Sushi, Vegetarian Friendly, Vegan Options<br />
                        Best Pho I have had in years!<br />
                        We, family of 3, loves Vietnamese food.<br />
                        I had the chicken pho, fried chicken wontons, BBQ spare ribs, and the mango p...
                    </div>
                </article>
            </li>
        </ul>
    </div>

</body>
