@page
@model Task5.Pages.CountriesModel
@{
}
<body class="Country">
    <div class="wrapper">
        <ul>
            <li>
                <article>
                    <figure>
                        <p><img src="~/Images/France.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/France">France</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/France1.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/France">France</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/France3.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/France">France</a></figcaption>
                    </figure>
                </article>
            </li>
            <li>
                <article>
                    <figure>
                        <p><img src="~/Images/italy.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/Italy">Italy</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/italy1.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/Italy">Italy</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/italy2.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/Italy">Italy</a></figcaption>
                    </figure>
                </article>
            </li>
            <li>
                <article>
                    <figure>
                        <p><img src="~/Images/NewYork.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/New_York_City">USA</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/NewYork2.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/New_York_City">USA</a></figcaption>
                    </figure>
                    <figure>
                        <p><img src="~/Images/NewYork3.jpg" width="130" alt="" /></p>
                        <figcaption><a href="https://en.wikipedia.org/wiki/New_York_City">USA</a></figcaption>
                    </figure>
                </article>
            </li>
        </ul>
      
  
    </div>
</body>